In [5]:
import pandas as pd 
a=pd.read_excel('glass-door.xlsx',sheet_name='copy')
print(a.info())
print(a.describe())
print(a.to_string())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   company                      899 non-null    object
 1   job_title                    900 non-null    object
 2   company_rating               656 non-null    float64
 3   location                     900 non-null    object
 4   salary_avg_estimate          636 non-null    float64
 5   salary_estimate_payperiod    636 non-null    object
 6   company_size                 774 non-null    object
 7   company_founded              774 non-null    object
 8   employment_type              774 non-null    object
 9   industry                     774 non-null    object
 10  sector                       774 non-null    object
 11  revenue                      774 non-null    object
 12  career_opportunities_rating  731 non-null    float64
 13  comp_and_benefits_rating     731 non-null    float64
 14  culture_and_values_rating    731 non-null    float64
 15  senior_management_rating     731 non-null    float64
 16  work_life_balance_rating     731 non-null    float64
dtypes: float64(7), object(10)
memory usage: 119.7+ KB
None
       company_rating  salary_avg_estimate  career_opportunities_rating  \
count      656.000000         6.360000e+02                   731.000000
mean         3.948171         6.167914e+05                     3.838304
std          0.440294         5.567843e+05                     0.520020
min          1.000000         2.000000e+02                     1.000000
25%          3.700000         3.668435e+05                     3.600000
50%          4.000000         5.291500e+05                     3.800000
75%          4.200000         7.429670e+05                     4.100000
max          5.000000         5.200000e+06                     5.000000

       comp_and_benefits_rating  culture_and_values_rating  \
count                731.000000                 731.000000
mean                   3.678796                   3.903010
std                    0.525854                   0.545233
min                    1.000000                   1.000000
25%                    3.400000                   3.600000
50%                    3.700000                   3.900000
75%                    4.000000                   4.200000
max                    5.000000                   5.000000

       senior_management_rating  work_life_balance_rating
count                731.000000                731.000000
mean                   3.677702                  3.804378
std                    0.589133                  0.559777
min                    1.000000                  1.000000
25%                    3.300000                  3.600000
50%                    3.600000                  3.800000
75%                    4.000000                  4.100000
max                    5.000000                  5.000000
                                                         company                                                                 job_title  company_rating            location  salary_avg_estimate salary_estimate_payperiod             company_size company_founded                 employment_type                                 industry                                       sector                           revenue  career_opportunities_rating  comp_and_benefits_rating  culture_and_values_rating  senior_management_rating  work_life_balance_rating
0                                                            ABB                                                       Junior Data Analyst             4.0           Bengaluru             325236.0                /yr (est.)         10000+ Employees            1883                Company - Public                Electronics Manufacturing                                Manufacturing                $10+ billion (USD)                          3.7                       3.6                        4.0                       3.5                       3.9
1                                                        Philips                                                    Data Scientist - AI/ML             4.0           Bengaluru                  NaN                       NaN         10000+ Employees            1891                Company - Public          Healthcare Services & Hospitals                                   Healthcare                $10+ billion (USD)                          3.8                       3.7                        4.0                       3.5                       4.0
2                                                           HSBC                                                        Data Science GSC’s             3.9           Bengaluru                  NaN                       NaN         10000+ Employees            1865                Company - Public                        Banking & Lending                                      Finance                $10+ billion (USD)                          3.6                       3.6                        3.8                       3.4                       3.7
3                                              Facctum Solutions                                                              Data Analyst             NaN           Karnataka                  NaN                       NaN        1 to 50 Employees              --               Company - Private                                       --                                           --          Unknown / Non-Applicable                          NaN                       NaN                        NaN                       NaN                       NaN
4                                            JPMorgan Chase & Co                                            Data and Analytics - Associate             4.0               India                  NaN                       NaN         10000+ Employees            1799                Company - Public                        Banking & Lending                                      Finance                $10+ billion (USD)                          4.0                       3.9                        3.9                       3.6                       3.7
5                                                     Sanfoundry                                                  Data Scientist - Fresher             NaN           Hyderābād             416516.0                /yr (est.)        1 to 50 Employees              --                   Self-employed                  Colleges & Universities                                    Education          Unknown / Non-Applicable                          4.5                       4.3                        4.6                       4.7                       4.6
6                                                         Beinex                                                   Trainee in Data Science             3.9              Cochin             280977.0                /yr (est.)     201 to 500 Employees            2017               Company - Private  Information Technology Support Services                       Information Technology          Unknown / Non-Applicable                          3.8                       3.6                        3.9                       3.9                       3.5
7                                                     Sanfoundry                         Junior Software Engineer - Data Science - Fresher             NaN           Hyderābād             382623.0                /yr (est.)        1 to 50 Employees              --                   Self-employed                  Colleges & Universities                                    Education          Unknown / Non-Applicable                          4.5                       4.3                        4.6                       4.7                       4.6
8                                                         Oracle                                                            Data Scientist             3.8           Bengaluru             709930.0                /yr (est.)         10000+ Employees            1977                Company - Public  Enterprise Software & Network Solutions                       Information Technology                $10+ billion (USD)                          3.6                       3.5                        3.7                       3.5                       4.0
9                                                        PhonePe                                                            Data Scientist             4.1           Bengaluru            1024695.0                /yr (est.)  5001 to 10000 Employees            2015               Company - Private                  Internet & Web Services                       Information Technology          Unknown / Non-Applicable                          4.0                       4.2                        4.1                       3.7                       3.8
10                                                         Hyqoo                                                            Data Annotator             4.5              Remote                  NaN                       NaN      51 to 200 Employees            2018               Company - Private                  Internet & Web Services                       Information Technology          Unknown / Non-Applicable                          4.3                       4.1                        4.5                       4.2                       3.9
11                                                      BigShyft                                                            Data Scientist             3.9           Bengaluru            2000000.0                /yr (est.)        1 to 50 Employees            2018               Company - Private                            HR Consulting                   Human Resources & Staffing        Less than $1 million (USD)                          3.7                       3.8                        3.5                       3.3                       3.1
12                                                        Findem                                       Researcher - Data Operations Intern             4.3              Remote               9000.0                /mo (est.)      51 to 200 Employees            2019               Company - Private                  Internet & Web Services                       Information Technology          Unknown / Non-Applicable                          4.2                       4.3                        4.1                       4.2                       4.0
13                                                    Sanfoundry                                                     Junior Data Scientist             NaN           Hyderābād                  NaN                       NaN        1 to 50 Employees              --                   Self-employed                  Colleges & Universities                                    Education          Unknown / Non-Applicable                          4.5                       4.3                        4.6                       4.7                       4.6
14                                                     News Corp                                                              Data Analyst             3.6           Bengaluru             522206.0                /yr (est.)         10000+ Employees            2013                Company - Public                               Publishing                        Media & Communication           $5 to $10 billion (USD)                          3.5                       3.4                        3.3                       3.2                       3.5
15                                                 Medpace, Inc.                                                       Clinical Data Coder             3.4               Thāne             579224.0                /yr (est.)  5001 to 10000 Employees            1992                Company - Public                Biotech & Pharmaceuticals               Pharmaceutical & Biotechnology            $2 to $5 billion (USD)                          3.3                       3.0                        3.2                       3.0                       3.2
16                                                       Infosys                                                            Data Scientist             3.8           Bengaluru                  NaN                       NaN         10000+ Employees            1981                Company - Public  Information Technology Support Services                       Information Technology                $10+ billion (USD)                          3.8                       3.0                        4.0                       3.5                       3.7
17                                                     Microsoft                                                Data Annotation Specialist             4.2           Hyderābād             317979.0                /yr (est.)         10000+ Employees            1975                Company - Public            Computer Hardware Development                       Information Technology                $10+ billion (USD)                          4.0                       4.1                        4.2                       3.8                       4.1
18                                       Skyla Software Solution                                                       Data Entry Operator             NaN          Jamshedpur              84853.0                /yr (est.)        1 to 50 Employees              --                Company - Public                                       --                                           --          Unknown / Non-Applicable                          4.0                       3.0                        5.0                       4.0                       2.0
19                                    TVS Supply Chain Solutions                                                       Data Entry Operator             3.4           Bengaluru             255288.0                /yr (est.)    501 to 1000 Employees              --               Company - Private                      Shipping & Trucking                   Transportation & Logistics          Unknown / Non-Applicable                          3.2                       2.9                        3.0                       3.0                       3.0
20                                                        Nissan                                                           Data Engineer I             3.9  Thiruvananthapuram             443415.0                /yr (est.)         10000+ Employees            1933                Company - Public   Transportation Equipment Manufacturing                                Manufacturing            $2 to $5 billion (USD)                          3.6                       3.7                        3.7                       3.5                       3.4
21                                       SatSure Analytics India                                                     Data Scientist Intern             NaN           Bengaluru                  NaN                       NaN      51 to 200 Employees            2017               Company - Private                      Aerospace & Defence                          Aerospace & Defence          Unknown / Non-Applicable                          4.7                       3.8                        4.4                       4.3                       3.9
22                                                    Sanfoundry                                 Data Scientist - Python/ Machine Learning             NaN              Mumbai                  NaN                       NaN        1 to 50 Employees              --                   Self-employed                  Colleges & Universities                                    Education          Unknown / Non-Applicable                          4.5                       4.3                        4.6                       4.7                       4.6
23                                                        MathCo                                                  Associate - Data Science             3.5           Bengaluru             876519.0                /yr (est.)   1001 to 5000 Employees            2016               Company - Private                      Business Consulting                      Management & Consulting          Unknown / Non-Applicable                          3.6                       3.4                        3.6                       3.2                       2.9
24                                                          Amex                                                  Analyst - Data Analytics             4.2             Gurgaon             482311.0                /yr (est.)         10000+ Employees            1850                Company - Public         Financial Transaction Processing                                      Finance                $10+ billion (USD)                          3.8                       4.0                        4.2                       3.8                       4.1
25                                                          KPMG                         Digital Trust S&G-Data Privacy and Ethics Analyst             3.8             Gurgaon             495831.0                /yr (est.)         10000+ Employees            1987               Company - Private                      Business Consulting                      Management & Consulting            $2 to $5 billion (USD)                          4.0                       3.3                        3.7                       3.5                       3.0
26                                                     Dow Jones                                 Summer 2024 Internship - Data & AI (APAC)             3.8               Delhi                  NaN                       NaN  5001 to 10000 Employees            1882  Subsidiary or Business Segment                          Broadcast Media                        Media & Communication  $500 million to $1 billion (USD)                          3.3                       3.4                        3.7                       3.2                       4.0
27                                                       Infosys                                                   Healthcare Data Analyst             3.8             Chennai             533713.0                /yr (est.)         10000+ Employees            1981                Company - Public  Information Technology Support Services                       Information Technology                $10+ billion (USD)                          3.8                       3.0                        4.0                       3.5                       3.7
28                                   Uptricks Services Pvt. Ltd.                                                   Data Science Internship             4.3              Remote                  NaN                       NaN      51 to 200 Employees            2013                   Self-employed  Information Technology Support Services                       Information Technology           $5 to $25 million (USD)                          3.9                       3.8                        3.9                       3.9                       3.9
29                                           JPMorgan Chase & Co                                                              Data Analyst             4.0               India                  NaN                       NaN         10000+ Employees            1799                Company - Public                        Banking & Lending                                      Finance                $10+ billion (USD)                          4.0                       3.9                        3.9                       3.6                       3.7

In [9]:
b=a.dropna()
print(b.info())
#print(a.describe())
print(b.to_string())
b.to_excel('removed empty.xlsx')

<class 'pandas.core.frame.DataFrame'>
Index: 467 entries, 0 to 898
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   company                      467 non-null    object
 1   job_title                    467 non-null    object
 2   company_rating               467 non-null    float64
 3   location                     467 non-null    object
 4   salary_avg_estimate          467 non-null    float64
 5   salary_estimate_payperiod    467 non-null    object
 6   company_size                 467 non-null    object
 7   company_founded              467 non-null    object
 8   employment_type              467 non-null    object
 9   industry                     467 non-null    object
 10  sector                       467 non-null    object
 11  revenue                      467 non-null    object
 12  career_opportunities_rating  467 non-null    float64
 13  comp_and_benefits_rating     467 non-null    float64
 14  culture_and_values_rating    467 non-null    float64
 15  senior_management_rating     467 non-null    float64
 16  work_life_balance_rating     467 non-null    float64
dtypes: float64(7), object(10)
memory usage: 65.7+ KB
None
                                       company                                                               job_title  company_rating            location  salary_avg_estimate salary_estimate_payperiod             company_size company_founded                 employment_type                                 industry                                       sector                           revenue  career_opportunities_rating  comp_and_benefits_rating  culture_and_values_rating  senior_management_rating  work_life_balance_rating
0                                          ABB                                                     Junior Data Analyst             4.0           Bengaluru             325236.0                /yr (est.)         10000+ Employees            1883                Company - Public                Electronics Manufacturing                                Manufacturing                $10+ billion (USD)                          3.7                       3.6                        4.0                       3.5                       3.9
6                                       Beinex                                                 Trainee in Data Science             3.9              Cochin             280977.0                /yr (est.)     201 to 500 Employees            2017               Company - Private  Information Technology Support Services                       Information Technology          Unknown / Non-Applicable                          3.8                       3.6                        3.9                       3.9                       3.5
8                                       Oracle                                                          Data Scientist             3.8           Bengaluru             709930.0                /yr (est.)         10000+ Employees            1977                Company - Public  Enterprise Software & Network Solutions                       Information Technology                $10+ billion (USD)                          3.6                       3.5                        3.7                       3.5                       4.0
9                                      PhonePe                                                          Data Scientist             4.1           Bengaluru            1024695.0                /yr (est.)  5001 to 10000 Employees            2015               Company - Private                  Internet & Web Services                       Information Technology          Unknown / Non-Applicable                          4.0                       4.2                        4.1                       3.7                       3.8
11                                    BigShyft                                                          Data Scientist             3.9           Bengaluru            2000000.0                /yr (est.)        1 to 50 Employees            2018               Company - Private                            HR Consulting                   Human Resources & Staffing        Less than $1 million (USD)                          3.7                       3.8                        3.5                       3.3                       3.1
12                                      Findem                                     Researcher - Data Operations Intern             4.3              Remote               9000.0                /mo (est.)      51 to 200 Employees            2019               Company - Private                  Internet & Web Services                       Information Technology          Unknown / Non-Applicable                          4.2                       4.3                        4.1                       4.2                       4.0
14                                   News Corp                                                            Data Analyst             3.6           Bengaluru             522206.0                /yr (est.)         10000+ Employees            2013                Company - Public                               Publishing                        Media & Communication           $5 to $10 billion (USD)                          3.5                       3.4                        3.3                       3.2                       3.5
15                               Medpace, Inc.                                                     Clinical Data Coder             3.4               Thāne             579224.0                /yr (est.)  5001 to 10000 Employees            1992                Company - Public                Biotech & Pharmaceuticals               Pharmaceutical & Biotechnology            $2 to $5 billion (USD)                          3.3                       3.0                        3.2                       3.0                       3.2
17                                   Microsoft                                              Data Annotation Specialist             4.2           Hyderābād             317979.0                /yr (est.)         10000+ Employees            1975                Company - Public            Computer Hardware Development                       Information Technology                $10+ billion (USD)                          4.0                       4.1                        4.2                       3.8                       4.1
19                  TVS Supply Chain Solutions                                                     Data Entry Operator             3.4           Bengaluru             255288.0                /yr (est.)    501 to 1000 Employees              --               Company - Private                      Shipping & Trucking                   Transportation & Logistics          Unknown / Non-Applicable                          3.2                       2.9                        3.0                       3.0                       3.0
20                                      Nissan                                                         Data Engineer I             3.9  Thiruvananthapuram             443415.0                /yr (est.)         10000+ Employees            1933                Company - Public   Transportation Equipment Manufacturing                                Manufacturing            $2 to $5 billion (USD)                          3.6                       3.7                        3.7                       3.5                       3.4
23                                      MathCo                                                Associate - Data Science             3.5           Bengaluru             876519.0                /yr (est.)   1001 to 5000 Employees            2016               Company - Private                      Business Consulting                      Management & Consulting          Unknown / Non-Applicable                          3.6                       3.4                        3.6                       3.2                       2.9
24                                        Amex                                                Analyst - Data Analytics             4.2             Gurgaon             482311.0                /yr (est.)         10000+ Employees            1850                Company - Public         Financial Transaction Processing                                      Finance                $10+ billion (USD)                          3.8                       4.0                        4.2                       3.8                       4.1
25                                        KPMG                       Digital Trust S&G-Data Privacy and Ethics Analyst             3.8             Gurgaon             495831.0                /yr (est.)         10000+ Employees            1987               Company - Private                      Business Consulting                      Management & Consulting            $2 to $5 billion (USD)                          4.0                       3.3                        3.7                       3.5                       3.0
27                                     Infosys                                                 Healthcare Data Analyst             3.8             Chennai             533713.0                /yr (est.)         10000+ Employees            1981                Company - Public  Information Technology Support Services                       Information Technology                $10+ billion (USD)                          3.8                       3.0                        4.0                       3.5                       3.7
30                                       Alcon                                           Data Analyst - Digital Health             3.8           Bengaluru             784161.0                /yr (est.)         10000+ Employees            1945                Company - Public                Biotech & Pharmaceuticals               Pharmaceutical & Biotechnology           $5 to $10 billion (USD)                          3.4                       3.9                        3.6                       3.3                       3.5
32                               Deutsche Bank                                                          Data Scientist             4.0                Pune             595940.0                /yr (est.)         10000+ Employees            1870                Company - Public                        Banking & Lending                                      Finance                $10+ billion (USD)                          3.9                       3.8                        4.1                       3.7                       4.1
33                                       Wipro                                                            Data Analyst             3.7           Bengaluru             494975.0                /yr (est.)         10000+ Employees            1945                Company - Public  Information Technology Support Services                       Information Technology           $5 to $10 billion (USD)                          3.6                       3.2                        3.7                       3.3                       3.5
34                               NatWest Group                                                       Data Analyst, AVP             4.1             Gurgaon             579938.0                /yr (est.)         10000+ Employees            1727                Company - Public                        Banking & Lending                                      Finance                $10+ billion (USD)                          3.7                       3.5                        4.2                       3.7                       4.3
36                                     Telstra                                       Data Insights & Analytics Analyst             3.9           Bengaluru            1014936.0                /yr (est.)         10000+ Employees            1901                Company - Public              Telecommunications Services                           Telecommunications                $10+ billion (USD)                          3.6                       3.7                        3.9                       3.5                       4.2
39                                BMC Software                                                          Data Scientist             4.1                Pune             712088.0                /yr (est.)  5001 to 10000 Employees            1980               Company - Private  Enterprise Software & Network Solutions                       Information Technology            $2 to $5 billion (USD)                          3.8                       4.1                        4.1                       3.8                       4.0
40                              Reliance Games                                                          Data Analytics             3.5                Pune             469012.0                /yr (est.)      51 to 200 Employees              --               Company - Private                    Video Game Publishing                        Media & Communication          Unknown / Non-Applicable                          3.8                       3.2                        3.4                       2.9                       3.1
45                   Intercontinental Exchange                                                          Data Analyst I             3.8           Hyderābād             469042.0                /yr (est.)  5001 to 10000 Employees            2000                Company - Public                          Stock Exchanges                                      Finance           $5 to $10 billion (USD)                          3.5                       3.7                        3.5                       3.3                       3.6
46                             Infifresh Foods                                                            Data Analyst             3.6           Bengaluru             948683.0                /yr (est.)                  Unknown            2019               Company - Private                                  Fishery                                  Agriculture          Unknown / Non-Applicable                          3.5                       3.6                        3.6                       3.2                       3.4
47                                Coforge Ltd.                                                            DATA ANALYST             3.6       Greater Noida             781721.0                /yr (est.)         10000+ Employees            2004                Company - Public  Information Technology Support Services                       Information Technology  $500 million to $1 billion (USD)                          3.4                       3.3                        3.5                       3.2                       3.5
48                               Medpace, Inc.                                                        Data Coordinator             3.4               Thāne             589237.0                /yr (est.)  5001 to 10000 Employees            1992                Company - Public                Biotech & Pharmaceuticals               Pharmaceutical & Biotechnology            $2 to $5 billion (USD)                          3.3                       3.0                        3.2                       3.0                       3.2
49                                 Valenta BPO                                                            Data Analyst             3.2           Bengaluru             550000.0                /yr (est.)      51 to 200 Employees            2014               Company - Private                            HR Consulting                   Human Resources & Staffing          Unknown / Non-Applicable                          3.2                       2.7                        3.1                       3.1                       3.6
50                                     PhonePe                                                     Senior Data Analyst             4.1           Bengaluru             777892.0                /yr (est.)  5001 to 10000 Employees            2015               Company - Private                  Internet & Web Services                       Information Technology          Unknown / Non-Applicable                          4.0                       4.2                        4.1                       3.7                       3.8
51                   Tata Consultancy Services                                           Data Science, Python, GraphDB             3.8           Bengaluru             648074.0                /yr (est.)         10000+ Employees            1968                Company - Public                     Software Development                       Information Technology                $10+ billion (USD)                          3.7                       3.1                        3.9                       3.3                       3.8
53                   Tata Consultancy Services                                               Employee Data Governance!             3.8           Bengaluru             536656.0                /yr (est.)         10000+ Employees            1968                Company - Public                     Software Development                       Information Technology                $10+ billion (USD)                          3.7                       3.1                        3.9                       3.3                       3.8
55                                     Infosys                                                 Data Privacy_Consulting             3.8           Bengaluru             720103.0                /yr (est.)         10000+ Employees            1981                Company - Public  Information Technology Support Services                       Information Technology                $10+ billion (USD)                          3.8                       3.0                        4.0                       3.5                       3.7
56                    Tata Technologies Europe                                                 ALM Users - Data Mining             3.8           Bengaluru             789523.0                /yr (est.)         10000+ Employees            1989               Company - Private                   Research & Development                      Management & Consulting        $100 to $500 million (USD)                          3.6                       3.4                        3.8                       3.4                       3.8
58                               Medpace, Inc.                                                  Clinical Data Reviewer             3.4               Thāne             648398.0                /yr (est.)  5001 to 10000 Employees            1992                Company - Public                Biotech & Pharmaceuticals               Pharmaceutical & Biotechnology            $2 to $5 billion (USD)                          3.3                       3.0                        3.2                       3.0                       3.2
59                                     Sectigo                                                            Data Analyst             3.4             Chennai             636962.0                /yr (est.)     201 to 500 Employees            2008               Company - Private            Computer Hardware Development                       Information Technology          Unknown / Non-Applicable                          3.0                       2.9                        3.0                       3.0                       3.3